<template>
<div class="panel panel-default panel-table">
  <div class="panel-body">
    <form class="form-horizontal" action="/encuesta/storeEncuesta" method="post">
      <div class="form-group">
        <label class="col-lg-3 control-label">Nombre</label>
        <div class="col-lg-4">
          <input type="text" v-model="proyecto.nombre" readonly="" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Monto</label>
        <div class="col-lg-4">
          <input type="text" v-model="proyecto.monto" readonly="" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Cuotas</label>
        <div class="col-lg-4">
          <input type="text" v-model="proyecto.cuotas" readonly="" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Fecha de Creación</label>
        <div class="col-lg-4">
          <input type="text" v-model="proyecto.created_at" readonly="" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Fecha de Actualización</label>
        <div class="col-lg-4">
          <input type="text" v-model="proyecto.updated_at" readonly="" class="form-control">
        </div>
      </div>
      <br><br>
      <h4 clsss='text-center'> Pagos de Proyecto  <b>{{proyecto.nombre}}</b></h4>
      <div class="table-responsive">
        <div class="col-md-12">
              <div class="col-md-4">Cuota</div>
              <div class="col-md-4">Fecha</div>
              <div class="col-md-4">Monto</div>
          </div>
        <div class="row"> </div>
        <div class="col-md-12">
          <div v-for='p in pagoVal'>
            <div v-for='ph in p.proyecto_pgo'>
              <div class="col-md-4">{{ph.cuota}}</div>
              <div class="col-md-4">{{ph.fecha}}</div>
              <div class="col-md-4">{{ph.monto}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <a href="/gestion/proyecto" class="btn btn-danger col-md-3 col-md-offset-6" name="button"><i></i> Volver</a>
        </div>
      </div>
    </form>
  </div>
</div>

</template>


<script>

export default {
  props:['proyecto','pago'],
  data () {
    return {
      pagoVal: this.pago,
      error:[],
      show:0,
      save:0,
      /*proyecto : {
      nombre : "",
      monto  : "",
      cuotas : ""
    },*/
    }
  },
  mounted(){
  },
}
</script>