<template>
<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <h3 class="m-t-0 m-b-5">
      <a href="/gestion/proyecto"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>&nbsp;&nbsp;
      Agregar Pago
    </h3>
  </div>
  <div v-if="show == 1">
  <div class="panel-body alert alert-danger col-md-10 text-center">
  	<h2  class="col-md-12">Por favor corrija los sigueintes errores </h2>
  	<div v-for="e in error">
		<div v-for="nombre in e.nombre" class="col-md-12">{{nombre}} </div>
		<div v-for="monto in e.monto" class="col-md-12"> {{monto}} </div>
		<div v-for="cuotas in e.cuotas" class="col-md-12"> {{cuotas}} </div>
  	</div>
  	</div>
  </div>

  <div v-if="save == 1">
  <div class="panel-body alert alert-success col-md-10 text-center">
		<div  class="col-md-12">Exito al guardar</div>
  </div>
  </div>
  <div v-if="errorMonto == 1">
  <div class="panel-body alert alert-danger col-md-10 text-center">
    <div  class="col-md-12">El monto supera el limite</div>
  </div>
  </div>

  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-lg-3 control-label">Proyectos</label>
        <div class="col-lg-4">
          <input name="name" type="text" v-model="proyecto.nombre" readonly="" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Cuota</label>
        <div class="col-lg-4">
          <input name="monto" type="text" v-model="proyecto.cuota" readonly="" class="form-control">
        </div>
      </div>



      <div class="form-group">
        <label class="col-lg-3 control-label">Fecha</label>
        <div class="col-lg-4">
          <datepicker v-model="proyecto.fecha"></datepicker>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Monto</label>
        <div class="col-lg-4">
          <input name="cuotas" type="text" v-model="proyecto.monto" class="form-control">
        </div>
      </div>


      <div class="col-md-12">
        <div class="col-md-6">
          <a href="/gestion/proyecto" class="btn btn-danger col-md-3 col-md-offset-6" name="button"><i></i> Volver</a>
        </div>
        <div class="col-md-6">
          <div v-on:click="guardarPago()" class="btn btn-success" name="button"><i class="fa fa-graduation-cap"></i> Agregar Pago</div>
        </div>
        <br>
        <hr/><hr/>
        <h4 clsss='text-center'> Pagos de Proyecto  <b>{{proyecto.nombre}}</b></h4>
      </div>
      <div class="table-responsive">
      <div class="col-md-12">
            <div class="col-md-4">Cuota</div>
            <div class="col-md-4">Fecha</div>
            <div class="col-md-4">Monto</div>
        </div>
        <div class="row"> </div>
        <div class="col-md-12">
        <div v-for='p in pagoVal'>
        <div v-for='ph in p.proyecto_pgo'>
          <div class="col-md-4">{{ph.cuota}}</div>
          <div class="col-md-4">{{ph.fecha}}</div>
          <div class="col-md-4">{{ph.monto}}</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</template>


<script>
import Datepicker from 'vuejs-datepicker';
export default {
components: {
    Datepicker
  },
  props:['proyecto','pago'],
  data () {
    return {

      pagoVal: this.pago,
      error:[],
      show:0,
      save:0,
      errorMonto:0,
      /*proyecto : {
	    proyecto_id : "",
	    cuota  : "",
	    fecha : "",
      monto : ""
	  },*/
    }
  },
  mounted(){
  },
  methods: {
     guardarPago : function(){
      let self = this;
      console.log("..................");
      console.log(self.proyecto);
      console.log("..................");
      axios.post('/gestion/proyecto/factura',
      {
        data : {
          'proyecto_id': self.proyecto.id,
          'cuota': self.proyecto.cuota,
          'monto': self.proyecto.monto,
          'fecha': self.proyecto.fecha,
        }
      })
      .then(function (response) {
      	console.log(response);
      	if(response.data.statusCode=='error'){
      		self.show=1;
      		self.save=0;
      		self.error = response.data;
          self.errorMonto =0;
          //self.pagoVal=response.data.proyectoPago;
          self.proyecto=response.data.cuota;
        }else if(response.data.statusCode=='errorMonto'){
          self.errorMonto =1;
      	}else{
          self.errorMonto =0;
      		self.save=1;
      		self.show=0;
          self.pagoVal=response.data.proyectoPago;
          self.proyecto.cuota=response.data.cuota;
      	}
      }).catch(data => {
        console.log(data.response);
      });
    },
  },
}
</script>