<template>
<div class="panel panel-default panel-table">
  <div class="panel-heading">
    <h3 class="m-t-0 m-b-5">
      <a href="/gestion/proyecto"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>&nbsp;&nbsp;
      Agregar Proyecto
    </h3>
  </div>
  <div v-if="show == 1">
  <div class="panel-body alert alert-danger col-md-10 text-center">
  	<h2  class="col-md-12">Por favor corrija los sigueintes errores </h2>
  	<div v-for="e in error">
		<div v-for="nombre in e.nombre" class="col-md-12">{{nombre}} </div>
		<div v-for="monto in e.monto" class="col-md-12"> {{monto}} </div>
		<div v-for="cuotas in e.cuotas" class="col-md-12"> {{cuotas}} </div>
  	</div>
  	</div>
  </div>

  <div v-if="save == 1">
  <div class="panel-body alert alert-success col-md-10 text-center">
		<div  class="col-md-12">Exito al guardar</div>
  </div>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" action="/encuesta/storeEncuesta" method="post">
      <div class="form-group">
        <label class="col-lg-3 control-label">Nombre</label>
        <div class="col-lg-4">
          <input name="name" type="text" v-model="proyecto.nombre" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-3 control-label">Monto</label>
        <div class="col-lg-4">
          <input name="monto" type="text" v-model="proyecto.monto" class="form-control">
        </div>
      </div>



      <div class="form-group">
        <label class="col-lg-3 control-label">Cuotas</label>
        <div class="col-lg-4">
          <input name="cuotas" type="text" v-model="proyecto.cuotas" class="form-control">
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6">
          <a href="/gestion/proyecto" class="btn btn-danger col-md-3 col-md-offset-6" name="button"><i></i> Volver</a>
        </div>
        <div class="col-md-6">
          <div v-on:click="guardarProyecto()" class="btn btn-success" name="button"><i class="fa fa-graduation-cap"></i> Agregar Proyecto</div>
        </div>

      </div>
    </form>
  </div>
</div>

</template>


<script>

export default {
  props:[],
  data () {
    return {
      error:[],
      show:0,
      save:0,
      proyecto: [],
      proyecto : {
	    nombre : "",
	    monto  : "",
	    cuotas : ""
	  },
    }
  },
  mounted(){
  },
  methods: {
     guardarProyecto : function(){
      let self = this;
      console.log("..................");
      console.log(self.proyecto);
      console.log("..................");
      axios.post('/gestion/proyecto',
      {
        data : self.proyecto
      })
      .then(function (response) {
      	console.log(response);
      	if(response.data.statusCode=='error'){
      		self.show=1;
      		self.save=0;
      		self.error = response.data;
      	}else{
      		self.save=1;
      		self.show=0;
      	}
      }).catch(data => {
        console.log(data.response);
      });
    },
  },
}
</script>